<div class="bg-white px-4 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-md md:max-w-xl lg:max-w-7xl py-12">
    <h1 class="text-3xl sm:text-4xl lg:text-5xl font-bold lg:leading-tight text-gray-900 text-center capitalize">{{ .Title }}</h1>
    <div class="col-span-12 lg:col-span-2 mt-6">
      {{ partial "nav-categories.html" . }}    
    </div>
    {{ $paginator := .Paginator }}
    {{ $paginator := .Paginate (where .Pages "Type" "posts") }}
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-14 mt-8 lg:mt-12">
      {{ range $paginator.Pages }}
        {{ partial "card-post.html" . }} 
      {{ end }}
    </div>
    <div class="mt-16">
      {{ partial "pagination.html" . }}
    </div>
  </div>
</div>