<div id="kurser" class="bg-muted py-16 lg:py-32 px-4 sm:px-6 lg:px-8 bg-cover bg-no-repeat" style="background-image: url(/images/shape-6.svg);">
  <div class="max-w-md md:max-w-3xl lg:max-w-7xl mx-auto">

    <div class="text-center">
      {{ with .heading }}
        <h2 class="text-4xl font-semibold leading-tight md:leading-tight text-gray-900 md:text-5xl">{{ . | markdownify }}</h2>
      {{ end }}

      <svg class="mx-auto mt-4" width="76" height="11" viewBox="0 0 76 11" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
        <use xlink:href="#_Image5" x="0" y="0" width="76px" height="11px"/>
        <defs>
            <image id="_Image5" width="76px" height="11px" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEwAAAALCAYAAADVymv/AAAACXBIWXMAAA7EAAAOxAGVKw4bAAACBklEQVRIieXWO2sVURQF4O9oJIgSX0hQfN0JapA0YiMOooWFYGNlIziVnYWdjf/Bv+AUFiltUygWAyIRCQmS5k5QxAeiJhcfhASPxRlQjAnmyYWs6swezt5r1uyz9gk2GFlVnMM3dDDXhFvY1qxPEveg549tWwkf8ap53olZTDVr6EWnzstn60hfWOuEWVUcx36cIO6HyGXpA1sY8FuctcZrvEUbnSC08R7vMFPn5fPVFliVYFlVXCWeQm9kL47ilCRKt2EWExgPtAnPMFnn5evlJPkvwbKq6Je64lIUr2Ef5nEWW5ZFu7vQxieMBeExxvCpzssPi21YVLCsKg5hEENRvCl1zmbAcBAeYKLOy6m/Xy4QLKuK08SrkSs4sxEMJe95hWl8bWJz+LGMHNulU7ANO7ALB6RhcHAFnMYwEoQpPKnz8iWNYM2Ra0XxDi5i9woKLIUORjHRGPE0vkvTcgaf67ycXOOaIKuKIfRJAvZJAvZF8QjO43QTWwpPMR6E+yGriv4o3sWtVXL7IfnBB4wG4bn0l75g/l/t3Q3IqqIlXWEOEy9EzknD65iF0/xnaFU37uH2Mut0JNXfNhNnAuN1XrZXR797kFXFoGRJ+5puzHG2B0f+M8ejIDzEG0zVeflifah2BxqLWGATPZJfdfBEujkPNCO2E8XrQRjGCL4uNW43C34Bl6SaKLMT/fAAAAAASUVORK5CYII="/>
        </defs>
      </svg>     

      {{ with .subheading }}
        <p class="mt-4 text-gray-800 text-[1.375rem] leading-relaxed">{{ . }}</p>
      {{ end }}
    </div>

    {{ $courses := where site.RegularPages "Section" "kurser" }}
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 items-stretch mt-14">
      {{ range first 3 (where $courses ".Params.featured" "==" true) }}
        {{ partial "card-course.html" . }}
      {{ end }}
    </div>

  </div>
</div>
